.login-form {
  background-color: rgba(255, 245, 235, 0.1);
  border-radius: 10%;
}

.signup-form {
  background-color: rgba(255, 245, 235, 0.1);
  border-radius: 10%;
}

.form {
  background-color: #282b3e;
  border-radius: 10%;
}

.btn {
  color: #8f6036;
}

.nav-link {
  background-color: #30324a;
  border-radius: 20px;
  font-weight: bold;
  margin: 6px;
}

.nav-item a:hover {
  background-color: #ffbf01;
  border-radius: 20px;
  font-weight: bold;
  color: #ffffff !important;
}

.card-link {
  color: white;
  text-decoration: none;
}

.card-link:hover {
  color: inherit;
}

.card-city-state {
  color: white;
}

.nav-link.active {
  background-color: #494c6f;
}

.btn:hover {
  background: #ffbf01 !important;
  color: #ffffffbe !important;
}

.form-shadow {
  box-shadow: 0 2px 4px rgba(80, 80, 80, 0.15);
}

.navbar {
  background: #202231;
}

.bg-image {
  background: #202231;
}

.card {
  background-color: #202231 !important;
  color: white;
}

.munch-detail-card {
  background-color: #202231 !important;
  color: white;
  border: 1px solid white !important;
  border-color: white;
}

.card-footer {
  background-color: #202231;
  border-color: white !important;
  color: white;
}

.card-detail {
  border: 1px white;
  color: white;
}

.card-username {
  color: white;
}

.account-detail-card {
  background-color: #282b3e !important;
  color: white;
  /* border: 1px solid white !important; */
  border-color: white;
  border-radius: 20%;
}
