@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karma:wght@500&display=swap");

.card-location {
  font-family: "Karma", serif;
}

body {
  margin: 0;
  font-family: "Figtree", sans-serif !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-label {
  color: #808080;
}

.signup-width {
  width: 700px;
}

.removeMargin {
  margin: 0 !important;
  padding: 0 !important;
}

.form {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10%;
}

.center-block {
  display: block;
  margin-top: 250px;
}

.btn {
  color: #8f6036;
}

.navbar-nav li a {
  width: 140px;
}

.label-value {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  font-size: 24px;
  width: 80px;
  text-align: left;
}

.value {
  font-size: 18px;
  text-align: left;
  flex: 1;
  padding: 10px;
}

.munchkin-link {
  color: #ffe185be;
  font-size: 18px;
}

a.munchkin-link:hover {
  color: #ffe185be;
  text-shadow: 0 0 10px #fff, 0 0 20px #ffe185be, 0 0 30px #ffe185be,
    0 0 40px #ffe185be, 0 0 70px #ffe185be, 0 0 80px #ffe185be,
    0 0 100px #ffe185be;
}

.signup-munchkin {
  color: #ffe185be;
  font-size: 18px;
}

a.signup-munchkin:hover {
  color: #ffe185be;
  text-shadow: 0 0 10px #fff, 0 0 20px #ffe185be, 0 0 30px #ffe185be,
    0 0 40px #ffe185be, 0 0 70px #ffe185be, 0 0 80px #ffe185be,
    0 0 100px #ffe185be;
}

.card-account-title {
  margin-left: 40px;
}
