/* LIGHT MODE */

#light .login-form {
  background-color: rgba(255, 245, 235, 0.1);
  border-radius: 10%;
}

#light .signup-form {
  background-color: rgba(255, 245, 235, 0.1);
  border-radius: 10%;
}

#light .form {
  background-color: white;
  border-radius: 10%;
}

#light .nav-link {
  background-color: #ffc383;
  border-radius: 20px;
  font-weight: bold;
  margin: 6px;
}

#light .nav-item a:hover {
  background-color: #ffbf01;
  border-radius: 20px;
  font-weight: bold;
  color: #ffffff !important;
}

#light .card-link {
  color: black;
  text-decoration: none;
}

#light .card-link:hover {
  color: inherit;
}

#light .card-city-state {
  color: #8c8e8c;
}

#light .nav-link.active {
  background-color: #ffa94d;
}

#light .btn:hover {
  background: #ffd146;
  color: #ffffffbe;
}

#light .form-shadow {
  box-shadow: 0 2px 4px rgba(80, 80, 80, 0.15);
}

#light .navbar {
  background: #fffbfa;
}

#light .bg-image {
  background: #fffbfa;
}

#light .card {
  background-color: #fffbfa !important;
  color: black;
}

#light .munch-detail-card {
  background-color: white !important;
  color: black;
  border: 1px solid #ffbf01 !important;
}

#light .card-detail {
  border: 1px white;
  color: black;
}

#light .card-username {
  color: black;
}

#light .account-detail-card {
  background-color: #ffffffbe !important;
  color: black;
  border: 1px solid #ffbf01 !important;
  border-color: #ffbf01;
}

#light .card-bio {
  height: auto;
  max-width: 500px;
  background-color: #ffe6b6;
  color: rgb(119, 119, 119);
  border-radius: 60px;
}

#light .dark-mode-switch-container {
  background-color: #fffbfa;
}

#light .comments-container::-webkit-scrollbar-thumb {
  background: #ffbf01;
  border-radius: 10px;
}

#light .comments-container::-webkit-scrollbar-thumb:hover {
  background: #ffc383;
  border-radius: 10px;
}

#light .comments-container {
  color: black;
  border-radius: 10px;
  border: 1px solid #ffbf01;
}

#light .dark-mode-switch-container label {
  color: black;
}

#light .btn-delete-munch {
  background: #f4989c;
  color: #ffffff;
}

#light .btn-delete-munch:hover {
  background: #ff7178;
  color: #ffffff;
}

#light .btn-comment {
  background: #ffc383;
  color: #ffffff;
}

#light .btn-edit-munch {
  background: #ffebad;
  color: #834534;
}
#light .btn-share-munch {
  background: #ffebad;
  color: #834534;
}

#light .btn-add-photo {
  background: #ffebad;
  color: #834534;
}

#light .btn-edit-account {
  background: #ffebad;
  color: #834534;
}

#light .btn-comment:hover {
  background: #f9ad5c;
  color: white;
}

#light .btn-delete-munch {
  background: #f4989c;
  color: #ffffff;
}

#light .btn-delete-munch:hover {
  background: #fe4f4f;
  color: #ffffff;
}

/* DARK MODE */

#dark .login-form {
  background-color: rgba(255, 245, 235, 0.1);
  border-radius: 10%;
}

#dark .signup-form {
  background-color: rgba(255, 245, 235, 0.1);
  border-radius: 10%;
}

#dark .form {
  background-color: #282b3e;
  border-radius: 10%;
}

#dark .nav-link {
  background-color: #30324a;
  border-radius: 20px;
  font-weight: bold;
  margin: 6px;
}

#dark .nav-item a:hover {
  background-color: #ffbf01;
  border-radius: 20px;
  font-weight: bold;
  color: #ffffff !important;
}

#dark .card-link {
  color: white;
  text-decoration: none;
}

#dark .card-link:hover {
  color: inherit;
}

#dark .card-city-state {
  color: rgb(199, 199, 199);
}

#dark .nav-link.active {
  background-color: #494c6f;
}

#dark .btn:hover {
  background: #ffbf01;
  color: #ffffffbe !important;
}

#dark .form-shadow {
  box-shadow: 0 2px 4px rgba(80, 80, 80, 0.15);
}

#dark .navbar {
  background: #202231;
}

#dark .bg-image {
  background: #202231;
}

#dark .card {
  background-color: #202231 !important;
  color: white;
}

#dark .munch-detail-card {
  background-color: #202231 !important;
  color: white;
  border: 1px solid white !important;
}

#dark .card-detail {
  border: 1px white;
  color: white;
}

#dark .card-username {
  color: white;
}

#dark .account-detail-card {
  background-color: #282b3e !important;
  color: white;
  /* border: 1px solid white !important; */
  border-color: white;
  border-radius: 20%;
}

#dark .card-bio {
  height: auto;
  max-width: 500px;
  background-color: #30324a;
  color: white;
  border-radius: 60px;
}

#dark .dark-mode-switch-container {
  background-color: #202231;
}

.dark-mode-switch-container {
  display: flex;
  width: 100vw;
  height: 100px;
}

.dark-mode-switch-container label {
  margin: 10px;
}

#dark .dark-mode-switch-container label {
  color: white;
}

#dark .comments-container {
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}

#dark .comments-container::-webkit-scrollbar-thumb {
  background: #30324a;
  border-radius: 10px;
}

#dark .comments-container::-webkit-scrollbar-thumb:hover {
  background: #ffbf01;
  border-radius: 10px;
}

#dark .btn-edit-munch {
  background: #fed24f;
  color: #834534;
}

#dark .btn-share-munch {
  background: #fed24f;
  color: #834534;
}

#dark .btn-add-photo {
  background: #fed24f;
  color: #834534;
}

#dark .btn-edit-account {
  background: #fed24f;
  color: #834534;
}

#dark .btn-delete-munch {
  background: #fe4f4f;
  color: #ffffff;
}

#dark .btn-delete-munch:hover {
  background: #ff0000;
  color: #ffffff;
}

#dark .btn-comment {
  background: #3f415c;
  color: #ffffff;
}

#dark .btn-comment:hover {
  background: #ffbf00;
  color: white;
}
